@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0e0e0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #1c1c1c;
  font-family: Inter, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Adjust height for horizontal scrollbars */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #222; /* Dark background for track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
  border: 2px solid #333;
}

.custom-scrollbar {
  scrollbar-color: #555 #222; /* Firefox */
  scrollbar-width: thin;
}
